---
import Layout from "../../layouts/Layout.astro";
import Crew from '../../components/Crew.astro';
import { ADDRESS, SITE_DOMAIN, SITE_TITLE, SOCIAL_LINKS } from "../../consts";

const crew = [
    {
        name: 'Gerome Grignon',
        title: 'Frontend Software Engineer at Lucca',
        heroImage: '/crew/gerome-grignon.png',
        linkedin: 'https://www.linkedin.com/in/gerome-grignon/',
        twitter: 'https://x.com/GeromeDEV',
        bluesky: 'https://bsky.app/profile/gerome.dev'
    },
    {
        name: 'Anthony Pena',
        title: 'Développeur Web / Staff Engineer at SFΞIR Nantes',
        heroImage: '/crew/anthony-pena.webp',
        linkedin: 'https://www.linkedin.com/in/penaanthony/',
        twitter: 'https://x.com/_Anthony_Pena',
        bluesky: 'https://bsky.app/profile/anthonypena.bsky.social'
    },
    {
        name: 'Yann-Thomas Le Moigne',
        title: 'Technical Lead at CGI',
        heroImage: '/crew/yann-thomas-le-moigne.jpeg',
        linkedin: 'https://www.linkedin.com/in/yatho/'
    },
    {
        name: 'Camille Pillot',
        title: 'Développeuse full-stack @Takima',
        heroImage: '/crew/camille-pillot.jpg',
        linkedin: 'https://www.linkedin.com/in/camille-pillot-455517177/',
        twitter: 'https://x.com/CamiPillotDev'
    }
]

const schema = {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "About Us",
    "description": "Information about the team and the web development conference.",
    "mainEntity": {
        "@type": "Organization",
        "name": "Angular Web Development Conference",
        "description": "The premier event for web developers, bringing together industry experts...",
    "url": `${SITE_DOMAIN}/about`,
        "foundingDate": "2020-01-01",
        "founders": 
    crew.map(c => {
        return {
                "@type": "Person",
          name: c.name,
          jobTitle: c.title
        }
      })
        ,
        "location": {
            "@type": "Place",
      "name": SITE_TITLE,
            "address": {
        "@type": "PostalAddress",
        ...ADDRESS
            }
        },
    "sameAs": [
      SOCIAL_LINKS.bluesky,
      SOCIAL_LINKS.linkedin,
      SOCIAL_LINKS.twitter
        ]
    }
}

---

<Layout title="À propos" schema={schema}>
    <main>
        <section class="max-w-screen-lg m-auto px-8 py-12">
            <h2 class="text-4xl font-bold my-12">Le projet</h2>
            <p>La conférence NG Baguette est un événement communautaire centré sur Angular. Notre mission est de rassembler les développeurs pour partager des connaissances, réseauter et grandir ensemble. À travers des présentations engageantes et des opportunités de networking, nous visons à renforcer la communauté Angular en France et au-delà tout en célébrant notre passion commune pour le développement web.</p>
            <h2 class="text-4xl font-bold my-12">L'équipe</h2>
            {crew.map(crew => <Crew crew={crew} />)}
        </section>
    </main>
</Layout
