---
import Layout from "../../layouts/Layout.astro";
import HeaderHero from "../../components/HeaderHero.astro";
import AgendaComponent from "../../components/Agenda.astro";

const breaks = [
  {
    data: {
      name: "Pause déjeuner",
      startDate: "1215",
      endDate: "1315",
    },
    slug: undefined,
  },
  {
    data: {
      name: "Pause",
      startDate: "1425",
      endDate: "1455",
    },
    slug: undefined,
  },
  {
    data: {
      name: "Pause",
      startDate: "1605",
      endDate: "1635",
    },
    slug: undefined,
  },
];

const schema = {
  "@context": "https://schema.org",
  "@type": "Event",
  name: "Programme de la conférence",
  description: "Le programme de la conférence de développement web.",
  startDate: "2024-05-15T09:00:00-07:00",
  endDate: "2024-05-16T17:00:00-07:00",
  location: {
    "@type": "Place",
    name: "Cityville Conference Center",
    address: {
      "@type": "PostalAddress",
      streetAddress: "123 Conference Center Drive",
      addressLocality: "Cityville",
      addressRegion: "State",
      postalCode: "12345",
      addressCountry: "Country",
    },
  },
  eventAttendanceMode: "https://schema.org/OfflineEventAttendanceMode",
  eventStatus: "https://schema.org/EventScheduled",
};
---

<Layout title="Programme" schema={schema}>
  <main>
    <HeaderHero>
      <span slot="title">Programme</span>
    </HeaderHero>
    <section class="max-w-screen-lg m-auto flex flex-col items-center px-8">
      <section class="flex flex-col items-center gap-4">
        <p class="text-center text-2xl font-bold">
          Notre appel à speakers est ouvert jusqu'au 14 mars 2025
        </p>
        <a
          href="https://conference-hall.io/ng-baguette-conf-2025"
          target="_blank"
          class="btn btn-primary">Soumettez vos propositions</a
        >
      </section>
      <!-- <section class="flex flex-col items-center gap-4">
          <p class="text-center text-2xl font-bold">
            Notre appel à speakers est fermé. Programme à venir !
          </p>
        </section> -->
    </section>
    <!-- <AgendaComponent breaks={breaks} /> -->
  </main>
</Layout>
