---
import Layout from "../../layouts/Layout.astro";
import HeaderHero from '../../components/HeaderHero.astro';
import type { ISponsor } from "../../models/sponsor.model";

const sponsors: Array<ISponsor> = [];

const schema = {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "Sponsors de la conférence",
    "description": "Liste des sponsors soutenant la conférence de développement web.",
    "itemListElement": sponsors.map(sponsor => ({
        "@type": "Organization",
        "name": sponsor.name,
        "url": sponsor.url,
        "logo": sponsor.logo,
        "description": sponsor.description,
        "sameAs": [
            sponsor.twitter,
            sponsor.linkedin
        ]
    }))
}
---

<Layout title="Sponsors" schema={schema}>
    <main>
        <HeaderHero>
            <span slot="title">Sponsors</span>
        </HeaderHero>

        <section class="max-w-screen-lg m-auto px-8 my-12">
             <ul class="flex flex-col md:flex-row justify-evenly items-center gap-8 md:gap-0 bg-white rounded-lg p-8 my-8">
                    <li>
                        <img src="/sponsors/eezyR.png" alt="EezyR" class="w-24">
                    </li>
                    <li>
                        <img src="/sponsors/house-of-angular.png" alt="House of Angular" class="w-24">
                    </li>
                 <li>
                     <img
                             src="/sponsors/takima.png"
                             alt="Takima"
                             class="w-24"
                     />
                 </li>
                </ul>
            <h2 class="text-4xl font-bold mb-6">Devenir sponsor</h2>
            <p class="mb-4">Nous sommes ravis de vous présenter notre dossier de sponsoring pour NG Baguette. En tant que sponsor, vous aurez l'opportunité unique de vous connecter avec la communauté Angular française et de promouvoir votre marque auprès d'un public passionné de développement web.</p>
            <p class="mb-8">Notre dossier détaille les différents niveaux de partenariat et les avantages associés.</p>
            <a href="/pdf/dossier-sponsoring-ngbaguette-2025.pdf" class="btn btn-primary" download>
                Télécharger le dossier de sponsoring
            </a>
        </section>

        <!--
        <section class="flex flex-col items-center max-w-screen-lg m-auto px-8">
            <h2 class="text-3xl text-center uppercase font-bold my-8">Hôte</h2>
            <h2 class="text-3xl text-center uppercase font-bold my-8">Sponsors</h2>
            <h2 class="text-3xl text-center uppercase font-bold my-8">Partenaires communautaires</h2>
        </section>
        -->
    </main>
</Layout> 
