---
import Layout from "../../layouts/Layout.astro";
import HeaderHero from '../../components/HeaderHero.astro';
import {type ISponsor} from "../../models/sponsor.model";
import SponsorList from "../../components/Sponsors.astro";
import Partners from "../../components/Partners.astro";
import { isResearchingSponsors } from "../../utils";
import { SPONSORSHIP_BROCHURE_URL } from "../../consts";

const sponsors: Array<ISponsor> = [];

const schema = {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "Conference Sponsors",
    "description": "A list of sponsors supporting the web development conference.",
    "itemListElement": sponsors.map(sponsor => ({
        "@type": "Organization",
        "name": sponsor.name,
        "url": sponsor.url,
        "logo": sponsor.logo,
        "description": sponsor.description,
        "sameAs": [
            sponsor.twitter,
            sponsor.linkedin
        ]
    }))
}

---


<Layout title="Sponsors" schema={schema}>
    <main>
        <HeaderHero>
            <span slot="title">Sponsors</span>
        </HeaderHero>

        <section class="max-w-screen-lg m-auto px-8 my-12">
            <SponsorList />
            <Partners />
            {
                isResearchingSponsors() &&
                <h2 class="text-4xl font-bold mb-6">Become a sponsor</h2>
                <p class="mb-4">We are thrilled to present our sponsorship prospectus for NG Baguette. As a sponsor, you will have the unique opportunity to connect with the French Angular community and promote your brand to a passionate audience of web developers.</p>
                <p class="mb-8">Our prospectus details the different partnership levels and associated benefits.</p>
                <a href={SPONSORSHIP_BROCHURE_URL.en} class="btn btn-primary" download>
                    Download the sponsorship prospectus
                </a>
            }
        </section>
    </main>
</Layout>
