---
import Layout from "../layouts/Layout.astro";
---

<Layout title="May 24th 2025">
  <main>
    <div class="hero min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-ld flex gap-20 flex-col lg:flex-row">
          <div class="flex flex-col flex-1 items-center">
            <img
              class="w-full md:px-20"
              src="/ng-baguette-logo.svg"
              alt="EventEdge"
            />
            <h2 class="text-2xl md:text-3xl text-primary font-bold mt-4">
              French cooked Angular conference
            </h2>
            <p class="py-6 px-4 md:px-0">
              Join us for a unique Angular conference experience in France!
              Discover the latest in Angular development, network with experts
              and fellow developers.
            </p>

            <p class="mt-4 text-2xl text-primary font-bold">May 24th, 2025</p>
            <p class="mt-2 font-bold">Nantes, France</p>
          </div>
          <div class="flex-1 mt-8 mb-8 md:mb-0">
            <h2 class="text-2xl md:text-3xl font-bold mb-8">Tickets</h2>
            <ul class="flex gap-4 items-stretch">
              <li
                class="flex-1 card bg-base-200 shadow-xl border-2 border-primary"
              >
                <div class="card-body flex flex-col items-center">
                  <h3 class="card-title text-2xl text-center">Blind Ticket</h3>
                  <p>Limited availability</p>
                  <span class="text-3xl font-bold">€25</span>
                  <!-- <button
                    class="btn btn-primary"
                    onclick="document.getElementById('ticket-modal').showModal()"
                    >Get your ticket</button
                  > -->
                  <p class="text-primary">Sold out</p>
                  <dialog id="ticket-modal" class="modal">
                    <div class="modal-box">
                      <h3 class="font-bold text-lg">Important Note</h3>
                      <p class="py-4">
                        To reduce costs and simplify the first edition, we are
                        using a free French platform dedicated to non profit
                        events.
                      </p>
                      <p>The ticket registration page is in French.</p>
                      <p>
                        If your French vocabulary is limited to "Oui Oui
                        Baguette", you may want to use Google Translate there to
                        complete your purchase!
                      </p>
                      <div class="modal-action">
                        <form class="flex gap-4" method="dialog">
                          <a
                            href="https://www.helloasso.com/associations/angular-nexus/evenements/ng-baguette-conf-2025"
                            target="_blank"
                            class="btn btn-primary">Get your ticket</a
                          >
                          <button class="btn">Close</button>
                        </form>
                      </div>
                    </div>
                  </dialog>
                </div>
              </li>
              <li
                class="flex-1 card bg-base-200 shadow-xl border-2 border-primary"
              >
                <div class="card-body flex flex-col items-center">
                  <h3 class="card-title text-xl text-center">Regular Ticket</h3>
                  <p>Standard conference ticket</p>
                  <span class="text-3xl font-bold">€30</span>
                    <button
                    class="btn btn-primary"
                    onclick="document.getElementById('ticket-modal').showModal()"
                    >Get your ticket</button
                  >
                </div>
              </li>
            </ul>
            <!-- <div role="alert" class="alert mt-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="stroke-primary h-6 w-6 shrink-0 hidden md:block"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
              <span>Call for papers still open until March 14th</span>
              <div>
                <a
                  class="btn btn-sm btn-primary"
                  href="https://conference-hall.io/ng-baguette-conf-2025"
                  target="_blank">Submit your talk proposals</a
                >
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .title-font {
    font-family: "Lilita", sans-serif;
  }
</style>
