---
import BaseLayout from "../layouts/BaseLayout.astro";

const tiles = [
  {
    title: "Agenda",
    link_fr: "/fr/agenda",
    link_en: "/en/agenda",
  },
  {
    title: "Q&A",
    link_fr: "https://app.sli.do/event/gqHc8WHY5LDrRhmF8VqF5P",
    link_en: "https://app.sli.do/event/gqHc8WHY5LDrRhmF8VqF5P",
  },
  {
    title: "Discord discussion channel",
    link_fr:
      "https://discord.com/channels/1076851913968058378/1375079002552799312",
    link_en:
      "https://discord.com/channels/1076851913968058378/1375079002552799312",
  },
];
---

<BaseLayout title="">
  <main>
    <section class="max-w-screen-lg m-auto p-8 flex flex-col gap-4">
      <img
        class="md:px-20 w-500 m-auto"
        style="max-width: 50vw; max-height: 40vh"
        src="/ng-baguette-logo.svg"
        alt="NG Baguette Conf"
      />
      {
        tiles.map((tile) => (
          <a class="bg-gray-700 p-6 rounded-lg shadow-md" href={tile.link_en}>
            <h2 class="text-2xl font-bold mb-4 text-center">{tile.title}</h2>
          </a>
        ))
      }
    </section>
  </main>
</BaseLayout>
