---
import {SITE_TITLE} from "../consts";
import Layout from "../layouts/Layout.astro";
import HeaderHero from '../components/HeaderHero.astro';
import {type ISponsor} from "../models/sponsor.model";

const sponsors: Array<ISponsor> = [];

const schema = {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "Conference Sponsors",
    "description": "A list of sponsors supporting the web development conference.",
    "itemListElement": sponsors.map(sponsor => ({
        "@type": "Organization",
        "name": sponsor.name,
        "url": sponsor.url,
        "logo": sponsor.logo,
        "description": sponsor.description,
        "sameAs": [
            sponsor.twitter,
            sponsor.linkedin
        ]
    }))
}

---


<Layout title={SITE_TITLE} schema={schema}>
    <main>
        <HeaderHero>
            <span slot="title">Sponsors</span>
            <span slot="description">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</span>
        </HeaderHero>

        <section class="flex flex-col items-center max-w-screen-lg m-auto px-8">
            <h2 class="text-3xl uppercase font-bold my-8">Premier</h2>
            <h2 class="text-3xl uppercase font-bold my-8">Platinium</h2>
            <h2 class="text-3xl uppercase font-bold my-8">Gold</h2>
            <h2 class="text-3xl uppercase font-bold my-8">Silver</h2>
        </section>
    </main>
</Layout>
