---
import { EVENT_DATE } from "../consts";
import { NAVIGATION_LINKS } from "../consts";
import { getRelativeLocaleUrl } from "astro:i18n";
import { displayDate } from "../utils";

const locale = Astro.currentLocale!;
---

<header class="sticky top-0 z-10">
  <div class="navbar bg-base-100 px-6">
    <div class="flex-none">
      <label for="my-drawer" class="btn btn-square btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>

    <div class="flex-1 flex items-center">
      <a
        class="btn btn-ghost text-2xl text-white title-font text-nowrap"
        href={getRelativeLocaleUrl(locale, "/")}
      >
        NG BAGUETTE CONF
      </a>
      <div class="hidden xl:flex divider divider-horizontal py-2"></div>
      <div class="hidden xl:flex flex-col items-center">
        <span>{displayDate(EVENT_DATE, locale)}</span>
        <span>Nantes, France</span>
      </div>
    </div>

    <div class="flex-none">
      <nav aria-label="main navigation">
        <ul class="menu menu-horizontal px-1 hidden lg:flex items-baseline">
          {
            NAVIGATION_LINKS[locale]
              .filter((link) => {
                if (link.condition) {
                  return link.condition();
                }
                return true;
              })
              .map((link) => (
                <li>
                  <a
                    class="text-xl"
                    href={getRelativeLocaleUrl(locale, link.href)}
                  >
                    {link.title}
                  </a>
                </li>
              ))
          }
        </ul>
      </nav>
      <div class="flex gap-2 md:ml-12 text-sm md:text-base">
        <a
          href="/en"
          class={`btn btn-xs md:btn-sm ${locale === "en" ? "btn-primary" : "btn-ghost"}`}
          >EN</a
        >
        <a
          href="/fr"
          class={`btn btn-xs md:btn-sm ${locale === "fr" ? "btn-primary" : "btn-ghost"}`}
          >FR</a
        >
      </div>
    </div>
  </div>
</header>
<style>
  .title-font {
    font-family: "Lilita", sans-serif;
  }
</style>
