---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry, render } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
export interface Props {
  track: CollectionEntry<"track">;
}

const { track } = Astro.props;

const speakers = (await getCollection("speaker")).filter((speaker) => track.data.presenterSlug.includes(speaker.slug));
const { Content } = await render(track);
---

<article class="flex justify-between gap-20">
    <div class="flex flex-1 flex-col gap-4">
        <h1 class="text-3xl font-bold flex items-start gap-2">
            {track.data.language === 'all' ? (
                  <img src="/icons/france_square_icon_64.png" style="height: 24px" alt="French">
                  <img src="/icons/united_kingdom_square_icon_64.png" style="height: 24px" alt="English">
                  ) : (
                    track.data.language === 'fr' ? (
                    <img src="/icons/france_square_icon_64.png" style="height: 24px" alt="French">
                    ) : (
                    <img src="/icons/united_kingdom_square_icon_64.png" style="height: 24px" alt="English">
                    )
                  )}
            <span class="text-xl">{track.data.name}</span>
        </h1>
        <div class="flex flex-col gap-4 bg-gray-700 p-4 rounded-lg">
            <Content />
        </div>
        <ul class="flex flex-col md:flex-row gap-4 ml-6">
  {
    speakers.map((speaker) => (
      <a href={getRelativeLocaleUrl(
                  Astro.currentLocale!,
                  "/speaker/" + speaker.slug
                )}>
        <li>
        <figure class="avatar flex items-center gap-4">
          <div class="mask mask-squircle w-16">
            {
      speaker && (
        <Image height={64} width={64} src={speaker.data.image!} alt="" />
      )
    }
  </div>
  <figcaption class="flex flex-col items-center mt-4">
            <h2 class="text-xl text-center font-bold">{speaker.data.name}</h2>
          </figcaption>
        </figure>
      </li>
      </a>
    ))
  }
</ul>
    </div>
</article>