---
import { type ISpeaker } from "../models/speaker.model";
import { Image } from "astro:assets";

export interface Props {
  speaker: ISpeaker;
}

const { speaker } = Astro.props;
---

<figure class="avatar flex flex-col items-center gap-2 max-w-44">
  <div class="mask mask-squircle">
    {
      speaker.image && (
        <Image height={128} width={128} src={speaker.image} alt="" />
      )
    }
  </div>
  <figcaption class="flex flex-col items-center mt-4">
    <h2 class="text-3xl text-center font-bold">{speaker.name}</h2>
  </figcaption>
</figure>
